{% extends 'base.html' %}
{% block head %}
<title>JobBean</title>
{% endblock%}
{% block body%}

<header class="banner"><h1>JobBean</h1></header> 
<form action="{{ url_for('index') }}" method="POST">
  <label>Search</label>
   <input type="text" name="search_key" placeholder="Jobkategori">
   <input type="submit" name="Search" value="Next">
</form>

<div class="data-table">
    <h2>Results</h2>
    {% if divdata %}
    {% for city, job in divdata.items() %}
    <div>
       {{city}} er der {{job}} jobs.
    </div>
    {% endfor %}
    <div id="Total">
        {{total}}
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='script/script.js') }}"></script>
{% endblock%}
